element {
    margin-left: auto;
    display: block;
    margin-right: auto;
    margin-top: auto;
    max-width: 732px;
    width: 100%;
    height: 94px;
    border: none;
}

#header {
    background-color: #000;
    border-left: 0;
    height: 3.6rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

body {
    background-image: url(web-tile.png);
    background-color: rgb(32, 31, 31);
    background-attachment: fixed;
    color: #9c9c9c;
    font-family: sans-serif;
    text-align: justify;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;
}



h1, h2, h3, h4, h5, h6 {
    text-align: left;
}

nav {
    margin-top: 80px;
    margin-left: 50px;
    position: sticky;
    display: table;
    top: 50px;
}

#content {
    max-width: 60ch;
    margin-right: 50px;
    margin-left: 630px;
}

main {
    min-height: 200px;
}

a {
    color: #9c9c9c;
    text-decoration: none;
}